{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}MineShop{% endblock %}</title>

<link rel="stylesheet" href="{% static 'shop/style.css' %}">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">

</head>
<body>

<header>

    <div class="logo">
        <a href="{% url 'index' %}">
            MineShop
        </a>
    </div>

    <nav>

        <a href="{% url 'index' %}">
            Головна
        </a>

        {% for cat in categories %}
            <a href="{% url 'category_detail' cat.id %}">
                {{ cat.name }}
            </a>
        {% endfor %}

        <a href="{% url 'cart_detail' %}" class="cart-btn">
            🛒 Кошик
        </a>

    </nav>

</header>

<main>
    {% block content %}
    {% endblock %}
</main>

<footer>

    <p>Підпишіться на новини та нові колекції</p>

    <form action="{% url 'subscribe' %}" method="POST">

        {% csrf_token %}

        <input
            type="email"
            name="email"
            placeholder="Ваш Email..."
            required
        >

        <button type="submit">
            Підписатися
        </button>

    </form>

</footer>

</body>
</html>