{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}MineShop{% endblock %}</title>

<link rel="stylesheet" href="{% static 'shop/style.css' %}">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">

</head>
<body>

<header>

    <div class="logo">
        <a href="{% url 'index' %}">
            MineShop
        </a>
    </div>

    <nav style="display: flex; align-items: center; gap: 15px;">
            <a href="{% url 'index' %}">Головна</a>
            {% for cat in categories %}
                <a href="{% url 'category_detail' cat.id %}">{{ cat.name }}</a>
            {% endfor %}
            <a href="{% url 'cart_detail' %}" style="background: rgba(255,255,255,0.4); padding: 5px 15px; border-radius: 20px;">🛒 Кошик</a>

            <span style="border-left: 1px solid #fff; margin: 0 10px; height: 20px;"></span>

            <!-- ЛОГІКА ДЛЯ ЛАБИ 8 -->
            {% if user.is_authenticated %}
                <a href="{% url 'profile' %}" style="color: #28a745;">👤 Кабінет ({{ user.username }})</a>
                <form action="{% url 'logout' %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" style="background:none; border:none; color:#dc3545; font-weight:bold; cursor:pointer; font-size:16px;">Вийти</button>
                </form>
            {% else %}
                <a href="{% url 'login' %}">🔑 Увійти</a>
                <a href="{% url 'register' %}">📝 Реєстрація</a>
            {% endif %}
        </nav>

</header>

<main>
    {% block content %}
    {% endblock %}
</main>

<footer>

    <p>Підпишіться на новини та нові колекції</p>

    <form action="{% url 'subscribe' %}" method="POST">

        {% csrf_token %}

        <input
            type="email"
            name="email"
            placeholder="Ваш Email..."
            required
        >

        <button type="submit">
            Підписатися
        </button>

    </form>

</footer>

</body>
</html>