{% extends 'shop/base.html' %}

{% block title %}Категорія: {{ category.name }}{% endblock %}

{% block content %}
    <h1>Категорія: {{ category.name }}</h1>
    <div>
        {% for product in products %}
            <div class="product-card">
                {% if product.image %}
                    <img src="{{ product.image.url }}" alt="{{ product.name }}">
                {% endif %}
                <h3><a href="{% url 'product_detail' product.id %}">{{ product.name }}</a></h3>
            <p style="color: white; font-weight: bold; font-size: 20px; margin: 15px 0;">{{ product.price }} грн.</p>
                <p>Бренд: {{ product.brand.name }}</p>
                <a href="{% url 'add_to_cart' product.id %}" style="display:inline-block; padding: 8px 15px; background: #28a745; color: white; text-decoration: none; border-radius: 5px;">Купити</a>
            </div>
        {% empty %}
            <p>В цій категорії ще немає товарів.</p>
        {% endfor %}
    </div>
{% endblock %}